# Idea
.idea/
# CMake
cmake-build-*/
task-1/CMakeFiles/

task-*/googletest*
task-*/lib/
task-*/bin/
task-*/cmake_install.cmake
task-*/MakeFile
task-*/CMakeCache.txt
task-*/out
task-*/*.info
task-1/bigint.info

*_old
